/* question css */

/* .question_list {
  display: flex;
  gap: 5px;
} */

.question_list {
  display: flex;
  /* width: 100%; */
  /* height: 85px; */
  border-bottom: 1px solid #dddddd;
  /* padding-top: 10px; */
  /* margin-bottom: 10px; */
  padding: 0px;
  align-items: center;
  justify-content: space-evenly;
}

.question {
  margin-top: -30px;
  width: 55%;
  display: flex;
  padding-top: 90px;
  margin: 0 auto;
}
.question_list h5 {
  text-align: center;
}
.answer_wrapper {
  margin-left: 620px;
}
.answer_wrapper a {
  text-decoration: none;
}
